.wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: #ff0000
}

header {
  position:fixed;
  z-index:99998;
  left:0;
  height:100px;
  float: left;
  width: 100%;

  background-color: #000000
}

footer {
  float: left;
  width: 100%;

  position:fixed;
  bottom:0;
  z-index:999999;

  background-color: #000000
}

article {
  margin-top:100px;
  float:left;
  width:900px;
}
